<div class="tableFrame">
  <div class="header">
      <div class="headerSpan">
          <span>Porez</span>
      </div>
      <button (click)="Add(content)" class="addInputs">Dodaj porez</button>
  </div>

<!-- Add modal -->
<ng-template #content let-modal>
  <form #submitForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Dodavanje poreza</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleFormControlInput1">Naziv poreza</label>
        <input type="text" class="form-control" [(ngModel)]="porez2.nazivPoreza" name="nazivPoreza"
          id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Stopa</label>
        <input type="text" class="form-control" [(ngModel)]="porez2.stopa" name="stopa" id="exampleFormControlInput1">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Odustani</button>
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Snimi</button>
    </div>
  </form>
</ng-template>

<!--Update modal-->
<ng-template #content1 let-modal>
  <form #updateForm="ngForm" (ngSubmit)="updatePorez()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ažuriranje podataka</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleFormControlInput1">Naziv poreza</label>
        <input type="text" class="form-control" [(ngModel)]="this._porezService.formData.nazivPoreza" name="naziv">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Stopa</label>
        <input type="text" class="form-control" [(ngModel)]="this._porezService.formData.stopa" name="stopa">
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Odustani</button>
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Snimi promjene</button>
    </div>
  </form>
</ng-template>

<!--Delete modal-->
<ng-template #content2 let-modal>
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-append">
            <h6>Da li ste sigurni da želite obrisati?</h6>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
    <button type="button" class="btn btn-outline-dark" (click)="DeletePorez()"
      routerLink="/adminpanel/porez">Da</button>
  </div>
</ng-template>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Naziv poreza</th>
      <th scope="col">Stopa</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of porez">
      <td data-label="Naziv poreza">{{item.nazivPoreza}}</td>
      <td data-label="Stopa">{{item.stopa}}</td>
      <td class="actions">
        <button (click)="Update(content1, item)">Uredi</button>
        <button (click)="Delete(content2,item)">Obriši</button>
      </td>

    </tr>
  </tbody>
</table>