<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="tableFrame">
    <div class="header">
        <div class="headerSpan">
            <span>Ulazni račun</span>
        </div>
        <button routerLink="/adminpanel/addInputs" class="addInputs">Dodaj ulazni račun</button>
    </div>
    <div *ngIf="brisanje==true" class="alert-success">Uspješno ste obrisali račun!</div>
    <table class="table">
        <thead>
            <tr>
                <th>Broj racuna</th>
                <th>Evidencijski broj</th>
                <th>Današnji datum</th>
                <th>Datum računa</th>
                <th>Datum dospjeća</th>
                <th>Skladište ulaz</th>
                <th>Iznos</th>
                <th>Vrsta plaćanja</th>
                <th>Plaćen</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let item of racuni">
                <td data-label="Broj racuna">{{item.brojRacuna}}</td>
                <td data-label="Evidencijski broj">{{item.evidencijskiBroj}}</td>
                <td data-label="Datum">{{item.datum | date : 'dd.MM.y. HH:mm'}}</td>
                <td data-label="Današnji datum">{{item.datumRacuna | date : 'dd.MM.y. HH:mm'}}</td>
                <td data-label="Datum dospjeća">{{item.datumDospjeca | date : 'dd.MM.y. HH:mm'}}</td>
                <td data-label="Skladište ulaz">{{item.nazivSkladista}}</td>
                <td data-label="Iznos">{{item.iznosRacuna}}</td>
                <td data-label="Vrsta plaćanja">{{item.nazivVrstePlacanja}}</td>
                <td data-label="Plaćen"><input type="checkbox" [(ngModel)]="item.placen" readonly></td>
                <td class="actions">
                    <button (click)="Get(content,item.racunId)">Stavke</button>
                    <button routerLink="/adminpanel/editInputs/{{item.racunId}}">Uredi</button>
                    <button (click)="Delete(content2,item)">Obriši</button>
                </td>

              <!--Delete racun modal-->
              <ng-template #content2 let-modal>
                  <div class="modal-header">
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-append">
                            <h6>Da li ste sigurni da želite obrisati?</h6>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
                    <button type="button" class="btn btn-outline-dark"  (click)="DeleteRacun()" routerLink="/adminpanel/inputs">Da</button>
                  </div>
                </ng-template>
                <!--End delete modal-->
            </tr>
        </tbody>
    </table>
<!--Get stavke-->
    <ng-template #content let-modal >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Stavke računa</h4>
      </div>
      <div class="modal-body">
        <form>          
              <table class="tableModalItems">
                <thead>
                  <tr>
                    <th>Šifra</th>
                    <th>Naziv</th>
                    <th>Kol</th>
                    <th>Rabat</th>
                    <th>Cijena bez PDV</th>
                    <th>Akcije</th>
                </tr>
                </thead>
                <tbody *ngFor="let stavka of stavkeBaza">
                  <tr *ngIf="stavka.racunId==idRacuna">
                      <td data-label="Šifra">{{stavka.sifraArtikla}}</td>
                      <td data-label="Naziv">{{stavka.nazivArtikla}}</td>
                      <td data-label="Kol">{{stavka.kolicina}}</td>
                      <td data-label="Rabat">{{stavka.rabat}}</td>
                      <td data-label="Cijena bez PDV">{{stavka.cijenaBezPdv}}</td>
                      <td class="actions">
                        <button (click)="Delete1(content3,stavka)"
                        style="font-size: 12px;
                        width: 80px;
                        background-color:white ;
                        border:1px solid #4c2083;
                        border-radius: 15px;
                        color: #4c2083;
                        text-align: center;
                        outline: none;
                        margin: 5px 5px 0px 0px;
                        padding:1px 3px;">Obriši</button>
                        <button 
                        style="font-size: 12px;
                        width: 80px;
                        background-color:white ;
                        border:1px solid #4c2083;
                        border-radius: 15px;
                        color: #4c2083;
                        text-align: center;
                        outline: none;
                        margin: 5px 5px 0px 0px;
                        padding:1px 3px;" routerLink="/adminpanel/editStavka/{{stavka.stavkeId}}">Uredi</button>
                      </td>

              

                      <!--Delete stavka modal-->
              <ng-template #content3 let-modal>
                <div class="modal-header">
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-append">
                          <h6>Da li ste sigurni da želite obrisati?</h6>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
                  <button type="button" class="btn btn-outline-dark"  (click)="DeleteStavka()" >Da</button>
                </div>
              </ng-template>
              <!--End delete modal-->
                  </tr>
              </tbody>
            </table>
        </form>
      </div>
    </ng-template>

</div>