<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="tableFrame">
    <div class="header">
        <div class="headerSpan">
            <span>Ulazni račun</span>
        </div>
        <button routerLink="/adminpanel/addInputs" class="addInputs">Dodaj ulazni račun</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Redni broj</th>
                <th>Evidencijski broj</th>
                <th>Datum</th>
                <th>Rok plaćanja</th>
                <th>Sk</th>
                <th>Dobavljač</th>
                <th>Iznos</th>
                <th>Plaćen</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let item of racuni">
                <td data-label="Redni broj">{{item.racunId}}</td>
                <td data-label="Evidencijski broj">{{item.brojRacuna}}</td>
                <td data-label="Datum">{{item.datum}}</td>
                <td data-label="Rok plaćanja">{{item.datumRacuna}}</td>
                <td data-label="Skladište">{{item.skladisteUlazId}}</td>
                <td data-label="Dobavljač">{{item.kupacId}}</td>
                <td data-label="Iznos">{{item.valutaId}}</td>
                <td data-label="Plaćen"><input type="checkbox" name="" id=""></td>
                <td class="actions">
                    <button (click)="Get(content)">Stavke</button>
                    <button routerLink="/adminpanel/editInputs/{{item.racunId}}">Uredi</button>
                    <button (click)="Delete(content2)">Obriši</button>
                </td>
            </tr>
        </tbody>
    </table>
<!--Get stavke-->
    <ng-template #content let-modal >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Stavke računa</h4>
      </div>
      <div class="modal-body">
        <form>          
              <table class="tableModalItems">
                <thead>
                    <tr>
                        <th>Rbr</th>
                        <th>Šifra</th>
                        <th>Naziv</th>
                        <th>Grupa</th>
                        <th>Kol</th>
                        <th>JMJ</th>
                        <th>UC</th>
                        <th>Rabat</th>
                        <th>NBC</th>
                        <th>NBV</th>
                        <th>Marža</th>
                        <th>VPC</th>
                        <th>MPC</th>
                        <th>PDV</th>
                        <th>P</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let item of racuni">
                        <td data-label="Rbr">{{item.racunId}}</td>
                        <td data-label="Šifra">{{item.brojRacuna}}</td>
                        <td data-label="Naziv">Artikl1</td>
                        <td data-label="Grupa">Grupa1</td>
                        <td data-label="Kol">20</td>
                        <td data-label="JMJ">23</td>
                        <td data-label="UC">23</td>
                        <td data-label="Rabat">12</td>
                        <td data-label="NBC">23</td>
                        <td data-label="NBV">43</td>
                        <td data-label="Marža">24</td>
                        <td data-label="VPC">42</td>
                        <td data-label="MPC">43</td>
                        <td data-label="PDV">17</td>
                        <td data-label="P"><input type="checkbox" name="" id=""></td>
                        
                    </tr>
                </tbody>
            </table>
        </form>
      </div>
    </ng-template>

<!--Delete modal-->
<ng-template #content2 let-modal>
    <div class="modal-header">
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-append">
              <h6>Da li ste sigurni da želite obrisati?</h6>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Da</button>
    </div>
  </ng-template>

</div>