<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="tableFrame">
    <div class="header">
        <div class="headerSpan">
            <span>Ulazni račun</span>
        </div>
      </div>
      <div class="underHeader">
        <input placeholder="Pretraži" type="text" class="form-control" name="racunNaziv" [(ngModel)]="racunNaziv">
        <!-- (ngModelChange)="Search()"> -->
        <button routerLink="/adminpanel/addInputs" class="addInputs">Dodaj ulazni račun</button>
    </div>
    <div *ngIf="brisanje==true" class="alert-success">Uspješno ste obrisali račun!</div>
    <table class="table">
        <thead>
            <tr>
                <th>Broj racuna</th>
                <th>Evidencijski broj</th>
                <th>Današnji datum</th>
                <th>Datum računa</th>
                <th>Datum dospjeća</th>
                <th>Skladište ulaz</th>
                <th>Iznos</th>
                <th>Vrsta plaćanja</th>
                <th>Plaćen</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let item of racuni | slice: pageSize | slice: 0:itemsPerPage; let i = index">
                <td data-label="Broj racuna">{{item.brojRacuna}}</td>
                <td data-label="Evidencijski broj">{{item.evidencijskiBroj}}</td>
                <td data-label="Datum">{{item.datum | date : 'dd.MM.y. HH:mm'}}</td>
                <td data-label="Današnji datum">{{item.datumRacuna | date : 'dd.MM.y. HH:mm'}}</td>
                <td data-label="Datum dospjeća">{{item.datumDospjeca | date : 'dd.MM.y. HH:mm'}}</td>
                <td data-label="Skladište ulaz">{{item.nazivSkladista}}</td>
                <td data-label="Iznos">{{item.iznosRacuna}}</td>
                <td data-label="Vrsta plaćanja">{{item.nazivVrstePlacanja}}</td>
                <td data-label="Plaćen"><input type="checkbox" [(ngModel)]="item.placen" disabled></td>
                <td class="actions">
                    <button (click)="Get(content,item.racunId)">Stavke</button>
                    <button routerLink="/adminpanel/editInputs/{{item.racunId}}">Uredi</button>
                    <button (click)="Delete(content2,item)">Obriši</button>
                </td>

              <!--Delete racun modal-->
              <ng-template #content2 let-modal>
                  <div class="modal-header">
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-append">
                            <h6>Da li ste sigurni da želite obrisati?</h6>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
                    <button type="button" class="btn btn-outline-dark"  (click)="DeleteRacun()" routerLink="/adminpanel/inputs">Da</button>
                  </div>
                </ng-template>
                <!--End delete modal-->
            </tr>
        </tbody>
    </table>
    <ngb-pagination id="pageing" [collectionSize]="racuni.length" [pageSize]="itemsPerPage" 
        [(page)]="currentPage" [maxSize]="10" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
<!--Get stavke-->
    <ng-template #content let-modal >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Stavke računa</h4>
      </div>
      <div class="modal-body">
        <form>          
              <table class="tableModalItems table">
                <thead>
                  <tr>
                    <th>Redni broj</th>
                      <th>Sifra</th>
                      <th>Naziv</th>
                      <th>Kolicina</th>
                      <th>Jedinica mj</th>
                      <th>Cijena</th>
                      <th>Rabat</th>
                      <th>VPC</th>
                      <th>PDV</th>
                      <th>MPC</th>
                </tr>
                </thead>
                <tbody *ngFor="let item of stavkeBaza">
                  <tr *ngIf="item.racunId==idRacuna">
                    <td data-label="Redni broj">{{item.redniBroj}}</td>
                    <td data-label="Sifra artikla">{{item.sifraArtikla}}</td>
                    <td data-label="Naziv artikla">{{item.nazivArtikla}}</td>
                    <td data-label="Kolicina">{{item.kolicina}}</td>
                    <td data-label="Jedinica mjere">{{item.jedMjereNaziv}}</td>
                    <td data-label="Cijena">{{item.cijenaBezPdv}}</td>
                    <td data-label="Rabat">{{item.rabat}}</td>
                    <td data-label="VPC">{{item.vpc}}</td>
                    <td data-label="PDV">17</td>
                    <td data-label="MPC">{{item.mpc}}</td>                      
                  </tr>
              

                      <!--Delete stavka modal-->
              <!-- <ng-template #content3 let-modal>
                <div class="modal-header">
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-append">
                          <h6>Da li ste sigurni da želite obrisati?</h6>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
                  <button type="button" class="btn btn-outline-dark"  (click)="DeleteStavka()" >Da</button>
                </div>
              </ng-template> -->
              <!--End delete modal-->
                
              </tbody>
            </table>
        </form>
      </div>
    </ng-template>

</div>