*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 55px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom:1px solid rgba(160, 160, 160, 0.384);
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.header .headerSpan{
    
    color: #4c2083;
    float: left;
    margin: 10px 0px 0px 10px;
    font-size: 20px;
    font-weight: 600;
}
.header .actionButtons{
    
    align-items: flex-end;
    justify-content: flex-end; 
}
.header button{
    font-size: 12px;
    width: 120px;
    background-color:white ;
    border:1px solid #4c2083;
    border-radius: 15px;
    color: #4c2083;
    text-align: center;
    outline: none;
    
    margin-top: 10px;
    margin-right: 10px;
    padding:2px 5px;
    float: right;
   

}
.header button:hover{
    transform: scale(1.1);
}
.mainsection{
    padding: 15px;
    background-color: #7b6c8110;
    border-radius: 25px;
    margin-bottom: 50px;
}
.mainsection .form-row{
    text-align: start;
}
.form-row {
    margin:20px;
}
.form-row .col,.form-row .col-2,.form-row .col-4{
    margin:5px;
}
.form-row .col label,.form-row .col-2 label,.form-row .col-4 label{
    margin-left: 5px;
    font-size: 14px;
}
.form-row .col input, .form-row .col select, .form-row .col-2 input,.form-row .col-4 input, .form-row .col textarea,.form-row .col-4 .input-group .input-group-prepend a span{
    font-size: 12px;    
}
.form-row .col button:last-child{
    float: right;
}


/*Modal items*/
.tableModalItems{
    width: 100%;
    text-align: center;
}
.tableModalItems thead tr{
    font-size: 14px;
    background-color: #e3cee43d;
}
.tableModalItems tbody tr{
    font-size: 14px;
}
.tableModalItems tbody tr td{
    border-right: 1px solid #e3cee43d;
}

.rowActions{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    justify-content: space-between;
}
.rowActions .input-group{
    width: 70%;
}


@media only screen and (max-width: 1200px)
{
    .header{
        height: 150px;

    }
    .header button{
        
        width: 120px;
        margin-top: 15x;
        padding:2px 5px;
        float: right;
    }
    /*Modal items*/
    .tableModalItems thead{
        display: none;
    }
    .tableModalItems, .tableModalItems tbody, .tableModalItems tr, .tableModalItems td{
        display: block;
        width: 100%;
    }
    .tableModalItems tr{
        margin-bottom: 15px;
    }
    .tableModalItems tbody tr td{
        text-align: right;
        padding-left:50%;
        position: relative;
    }
    .tableModalItems td::before{
        content: attr(data-label);
        position:absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
    .tableModalItems tbody tr{
        background-color: #e3cee43d;
        padding:15px;
        font-size: 14px;
        border-radius: 25px;
    }
    .tableModalItems tbody tr td{
        border-right:none;
        border-bottom: 1px solid #e3cee43d;
    }
}