<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="Frame">
    <div class="header" id="Head1">
        <div class="headerSpan">
            <span>Ulazni račun</span>
        </div>
        <div class="actionButtons">
            <button (click)=Get(content) class="addInputs">Pregled stavki</button>
            <button (click)="ToSection('AddItems')" class="addInputs">Dodaj stavke</button>
            <button routerLink="/adminpanel/addInputs" class="addInputs">Dodaj račun</button>
            <button routerLink="/adminpanel/addInputs" class="addInputs">Printaj račun</button>
        </div>
    </div>
    <div *ngIf="uredjivanje==true" class="alert-success">Uspješno ste ažurirali račun!</div>
    <div class="mainsection">
        <form #updateForm="ngForm" (ngSubmit)="updateRacun()">
        <!--firs red-->
            <div class="form-group">
                <div class="form-row">
                    <div class="col-4">
                        <label>Broj računa</label>
                        <input type="text" class="form-control" [(ngModel)]="racun.brojRacuna" name="brojRacuna" placeholder="Broj računa" readonly>
                    </div>
                    <div class="col-4">
                        <label>Evidencijski broj</label>
                        <input type="text" class="form-control" [(ngModel)]="racun.evidencijskiBroj" name="evidencijskiBroj" placeholder="Evidencijski broj" >
                    </div>
                    </div>
                    <hr>
                <!--second row-->

                    <div class="form-row">
                        <div class="col">
                        <label>Današnji datum</label>
                        <input type="datetime" readonly value="{{datum2 | date : 'dd.MM.y. HH:mm'}}" name="datum2" class="form-control">

                        </div>
                        <div class="col">
                            <label>Datum računa</label>
                            <input type="datetime-local" [(ngModel)]="racun.datumRacuna" name="datumRacuna" class="form-control">
                        </div>
                        <div class="col">
                            <label>Datum dospjeća</label>
                            <input type="datetime-local" [(ngModel)]="racun.datumDospjeca" name="datumDospjeca" class="form-control">
                        </div>
                    </div>
                <!--third row-->

                    <div class="form-row">
                        <div class="col">
                            <label for="inputState">Skladište</label>
                            <select id="inputState" [(ngModel)]="racun.skladisteUlazId" name="skladisteUlazId" class="custom-select"  >
                                <option *ngFor="let item of skladista" value="{{item.skladisteId}}">{{item.naziv}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="inputState">Vrsta plaćanja</label>
                            <select id="inputState" [(ngModel)]="racun.vrstaPlacanjaId" name="vrstaPlacanjaId" class="custom-select">
                                <option *ngFor="let item of vrstaPlacanja" value="{{item.vrstaPlacanjaId}}">{{item.naziv}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="inputState">Valuta</label>
                            <select id="inputState" [(ngModel)]="racun.valutaId" name="valutaId" class="custom-select">
                                <option *ngFor="let item of valuta" value="{{item.valutaId}}">{{item.oznaka}}</option>
                            </select>
                        </div>
                    </div>
                <!--fourth row-->
                <div class="form-row">                    
                    <div class="col-2">
                    <label>Iznos bez PDV</label>
                    <input type="number"  [(ngModel)]="racun.iznosRacuna" name="iznosRacuna" class="form-control">
                    </div>
                    <div class="col-2">
                        <label>PDV</label>
                        <input type="number" [(ngModel)]="racun.iznosPoreza" name="iznosPoreza" class="form-control"(input)="pdvEditIzracun()">
                    </div>
                    <div class="col-2">
                        <label>Iznos sa PDV</label>
                        <input type="number" [(ngModel)]="racun.iznosSaPdv" name="iznosSaPdv" class="form-control" >
                    </div>     
                </div>
                <!--fifth row-->
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="racun.placen" name="placen" id="invalidCheck2" required>
                            <label class="form-check-label" for="invalidCheck2">Plaćen račun
                            </label>
                        </div>
                    </div>
                </div>
                <!--Sixth row-->
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">Napomena</label>
                        <textarea class="form-control" [(ngModel)]="racun.napomena" name="napomena" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!--Buttons-->

                <div class="form-row">
                    <div class="col">
                        <button type="button" (click)="OtkaziIzmjene()" class="btn btn-danger">Otkaži</button>
                        <button type="submit" (click)="ToSection('Head1')" class="btn btn-info">Sačuvaj</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

<!--stavke lista -->
<div class="header">
    <div class="headerSpan">
        <span>Lista stavki</span>
    </div>
</div>
<div class="mainsection">
    <table class="table">
        <thead>
            <tr>
                <th>Redni broj</th>
                <th>Sifra</th>
                <th>Naziv</th>
                <th>Kolicina</th>
                <th>Jedinica mj</th>
                <th>Cijena</th>
                <th>Rabat</th>
                <th>VPC</th>
                <th>PDV</th>
                <th>MPC</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of stavkeLista">
            <tr *ngIf="item.racunId==racun.racunId">
                <td data-label="Redni broj">{{item.redniBroj}}</td>
                <td data-label="Sifra artikla">{{item.sifraArtikla}}</td>
                <td data-label="Naziv artikla">{{item.nazivArtikla}}</td>
                <td data-label="Kolicina">{{item.kolicina}}</td>
                <td data-label="Jedinica mjere">{{item.jedMjereNaziv}}</td>
                <td data-label="Cijena">{{item.cijenaBezPdv}}</td>
                <td data-label="Rabat">{{item.rabat}}</td>
                <td data-label="VPC">{{item.vpc}}</td>
                <td data-label="PDV">17</td>
                <td data-label="MPC">{{item.mpc}}</td>
                <td class="actions">
                    <button (click)="DeleteStavka(contentstavka)">Obriši</button>
                    <button routerLink="/adminpanel/editStavka/{{item.stavkeId}}">Uredi</button>
                </td>
              <!--Delete modal-->
              <ng-template #contentstavka let-modal>
                  <div class="modal-header">
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-append">
                            <h6>Da li ste sigurni da želite obrisati?</h6>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
                    <button type="button" (click)="DeleteStavkaConfirm(item.stavkeId,item.cijenaBezPdv)" routerLink="/adminpanel/editInputs/{{id}}" class="btn btn-outline-dark" >Da</button>
                  </div>
                </ng-template>
                <!--End delete modal-->
            </tr>
        </tbody>
    </table>
</div>



    <!--Add items-->
    <div class="header">
        <div class="headerSpan">
            <span>Dodaj stavku</span>
        </div>
    </div>
    <div *ngIf="dodavanje==true" class="alert-success">Uspješno ste dodali stavku računa!</div>
    <div id="AddItems" class="mainsection">
         <!--firs row-->
        <form #submitStavka="ngForm" novalidate (ngSubmit)="addStavka(racun.racunId)">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Odaberite artikal ->">
                            <div class="input-group-prepend">                        
                                    <a type="button" (click)="Get(content)"><span class="input-group-text" id="basic-addon1">Artikli</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--second row-->
                <div class="form-row">
                    <div class="col-4">
                        <label>Naziv</label>
                        <input type="text" *ngIf="artikl==null" class="form-control" placeholder="Naziv stavke" readonly>
                        <input type="text" *ngIf="artikl!=null" [(ngModel)]="artikl.naziv" name="naziv" class="form-control" placeholder="Naziv stavke" readonly>
                    </div>
                    <div class="col-2">
                        <label>Marža</label>
                        <input type="text" *ngIf="artikl==null" class="form-control" placeholder="Marža" readonly>
                        <input type="text" *ngIf="artikl!=null" [(ngModel)]="artikl.marza" name="marza" class="form-control" placeholder="Marža" readonly>
                    </div>
                </div>
                <!--third row-->
                <div class="form-row">            
                    <div class="col-2">
                        <label>NC</label>
                        <input type="text" *ngIf="artikl==null" class="form-control" placeholder="Nabavna cijena" readonly>
                        <input type="text" *ngIf="artikl!=null" [(ngModel)]="artikl.nc" name="nc" class="form-control" placeholder="Nabavna cijena" readonly>
                    </div>
                    <div class="col-2">
                        <label>VPC</label>
                        <input type="text" *ngIf="artikl==null" class="form-control" placeholder="Veleprodajna cijena" readonly>
                        <input type="text" *ngIf="artikl!=null" [(ngModel)]="artikl.vpc" name="vpc" class="form-control" placeholder="Veleprodajna cijena" readonly>
                    </div>
                    <div class="col-2">
                        <label>MPC</label>
                        <input type="text" *ngIf="artikl==null" class="form-control" placeholder="Maloprodajna cijena" readonly>
                        <input type="text" *ngIf="artikl!=null" readonly [(ngModel)]="artikl.mpc" name="mpc" class="form-control" placeholder="Maloprodajna cijena" >
                    </div>
                </div>
                <!--fourth row-->
                <div class="form-row">
                    <div class="col-2">
                        <label>Količina</label>
                        <input type="number" *ngIf="stavka!=null" [(ngModel)]="stavka.kolicina" name="kolicina" class="form-control" placeholder="Količina"
                        (input)="cijenaCalc()">
                    </div>
                    <div class="col-2">
                        <label>Cijena</label>
                        <input type="number" *ngIf="stavka!=null" [(ngModel)]="stavka.ulaznaCijena" name="ulaznaCijena" class="form-control" placeholder="ulaznaCijena"
                        (input)="cijenaCalc()">
                    </div>
                    <div class="col-2">
                        <label>Ukupna cijena</label>
                        <input type="number" *ngIf="stavka!=null" [(ngModel)]="stavka.cijenaBezPdv" name="cijenaBezPdv" class="form-control" placeholder="cijenaBezPdv">
                    </div>
                </div>
                <!--Fifth row-->
                <div class="form-row">
                    <div class="col-2">
                        <label>Rabat1</label>
                        <input type="number" *ngIf="stavka!=null" [(ngModel)]="stavka.rabat1" name="rabat1" class="form-control" placeholder="Rabat1" (input)="rabatCalc()">
                    </div>
                    <div class="col-2">
                        <label>Rabat2</label>
                        <input type="number" *ngIf="stavka!=null" [(ngModel)]="stavka.rabat2" name="rabat2" class="form-control" placeholder="Rabat2" (input)="rabatCalc()">
                    </div>
                    <div class="col-2">
                        <label>Rabat</label>
                        <input type="text" *ngIf="stavka!=null" [(ngModel)]="stavka.rabat" name="rabat" class="form-control" placeholder="Rabat">
                    </div>
                </div>
                <!--Buttons-->

                <div class="form-row">
                    <div class="col">
                        <button type="button" (click)="OtkaziIzmjene()" class="btn btn-danger">Otkaži</button>
                        <button type="submit" class="btn btn-info">Sačuvaj</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!--Get artikle-->
    <ng-template #content let-modal >
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Artikli</h4>
        </div>
        <div class="modal-body">
            <form>     
                <div class="rowActions">    <!--Search-->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Naziv artikla" name="artiklNaziv" [(ngModel)]="artiklNaziv"
                        (ngModelChange)="Search()">
                        <div class="input-group-prepend">                        
                                <span class="input-group-text" id="basic-addon1"><i class='bx bx-search' ></i></span>
                        </div>
                    </div>
                </div>
                <table class="tableModalItems table">
                  <thead>
                      <tr>
                          <th>Rbr</th>
                          <th>Naziv</th>
                          <th>MPC</th>
                      </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let item of artikli" id="trArtikl" (click)="getArtiklById(item.artiklId)"
                      style="cursor: pointer;">
                          <td data-label="Rbr">{{item.artiklId}}</td>
                          <td data-label="Naziv">{{item.naziv}}</td>
                          <td data-label="MPC">{{item.vpc}}</td>                          
                      </tr>
                  </tbody>
                </table>
            </form>
        </div>
      </ng-template>
</div>
