<div class="tableFrame">
    <div class="header">
        <div class="headerSpan">
            <span>Proizvođač</span>
        </div>
        <button (click)="dodaj()" class="addInputs">Dodaj proizvođača</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Redni broj</th>
                <th>Naziv</th>
                <th>Klijent</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of this.service.manufacturers">
                <td data-label="Redni broj">{{item.proizvodjacId}}</td>
                <td data-label="Naziv">{{item.naziv}}</td>
                <td data-label="Klijent">{{item.klijentNaziv}}</td>
                <td class="actions">
                    <button (click)="uredi(item)">Uredi</button>
                    <button (click)="obrisi(item.proizvodjacId)">Obriši</button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>