<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="Frame">
    <div class="header">
        <span>Novi izlazni račun</span>
    </div>
    <div class="mainsection">
        <!--firs red-->
        <form #submitForm="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
                    <div class="form-row">
                        <div class="col-4">
                            <label>Broj računa</label>
                            <input type="text" class="form-control" readonly [(ngModel)]="racuni.brojRacuna" name="brojRacuna" placeholder="Broj računa">
                        </div>
                        <div class="col-4">
                            <label>Evidencijski broj</label>
                            <input type="text" class="form-control" [(ngModel)]="racuni.evidencijskiBroj" name = "evidencijskiBroj" placeholder="Evidencijski broj">
                        </div>
                        <div class="col">
                            <label for="inputState">Kupac</label>
                            <select id="inputState"  [(ngModel)]="racuni.kupacId" name="kupacId" class="custom-select">
                                <option *ngFor="let item of customers" value="{{item.kupacId}}">{{item.naziv}}</option>
                            </select>
                        </div>
                    </div>
                    <hr> 
                <!--second row-->

                    <div class="form-row">
                        <div class="col">
                        <label>Današnji datum</label>
                        <input type="datetime-local" [(ngModel)]="racuni.datum" name="datum" class="form-control">
                        </div>
                        <div class="col">
                            <label>Datum računa</label>
                            <input type="datetime-local" [(ngModel)]="racuni.datumRacuna" name="datumRacuna" class="form-control">
                        </div>
                        <div class="col">
                            <label>Datum dospjeća</label>
                            <input type="datetime-local" [(ngModel)]="racuni.datumDospjeca" name="datumDospjeca" class="form-control">
                        </div>
                    </div>
                <!--third row-->

                    <div class="form-row">
                        <div class="col">
                            <label for="inputState">Skladište</label>
                            <select id="inputState" [(ngModel)]="racuni.skladisteIzlazId" name="skladisteIzlazId"class="custom-select" >
                                <option *ngFor="let item of skladista"  value="{{item.skladisteId}}">{{item.naziv}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="inputState">Vrsta plaćanja</label>
                            <select id="inputState"  [(ngModel)]="racuni.vrstaPlacanjaId" name="vrstaPlacanjaId" class="custom-select">
                                <option *ngFor="let item of vrsteplacanja" value="{{item.vrstaPlacanjaId}}">{{item.naziv}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="inputState">Valuta</label>
                            <select id="inputState" [(ngModel)]="racuni.valutaId" name="valutaId" class="valuta" class="custom-select">
                                <option *ngFor = "let item of valute"  value="{{item.valutaId}}">{{item.oznaka}}</option>
                            </select>
                        </div>
                    </div>
                <!--fourth row-->
                <div class="form-row">
                    <div class="col-4">
                        <label >FIS broj</label>
                        <input type="number" [(ngModel)]="racuni.fisbroj" name="fisbroj" class="form-control">
                    </div>
                </div>
                <!--Sixth row-->
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">Napomena</label>
                        <textarea class="form-control" [(ngModel)]="racuni.napomena" name="napomena" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            <!--Buttons-->
            </div>
            <div class="form-row">
                <div class="col">
                    <button type="button" class="btn btn-danger">Otkaži</button>
                    <button type="submit"  class="btn btn-info">Sačuvaj</button>
                </div>
            </div>
        </form>
            
    </div>
</div>