
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" 
                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">Odgovorna osoba</span><span class="text-black-50">direktor@gmail.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Ime</label><input type="text" class="form-control"value="Ime odgovorne osobe"></div>
                    <div class="col-md-6"><label class="labels">Prezime</label><input type="text" class="form-control" value="Prezime osobe"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Broj telefona</label><input type="text" class="form-control" value="+387 564 466"></div>
                    <div class="col-md-12"><label class="labels">Adresa</label><input type="text" class="form-control" value="Ulica bb "></div>
                    <div class="col-md-12"><label class="labels">Grad</label><input type="text" class="form-control" value="Mostar"></div>
                    <div class="col-md-12"><label class="labels">PDV broj</label><input type="text" class="form-control" value="#9562"></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Promijeni lozinku</button></div>
                
            </div>
        </div>        
    </div>
