
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <form id="ProfileForm" >
                    <div class="imageframe">
                        <img [src]="ImageM" alt="greska pri ucitavanju"style="width: 100%;height: 100%;" class="mobileForPicture">
                    </div>
                    <br>
                    <input type="file" (change)="fileChangeEvent($event)" />                        
                </form>
                <br>
                <button type="button" id="spasi" style="background-color: #1082df ;" class="btn btn-primary" (click)="UpdateForImage()" >Spremi sliku </button>
                <br>
                <span class="font-weight-bold">Odgovorna osoba: {{this?.currClient?.odgovornaOsoba}}</span><span class="text-black-50">{{this?.currClient?.email}}</span><span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <td style="width: 10px;" class="mobileTdForPicture">
                </td>                <div class="col-md-12"><label class="labels">ID broj</label><input type="text" class="form-control" value="{{this?.currClient?.idbroj}}"></div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Ime</label><input type="text" class="form-control" value="{{this?.currUser?.ime}}"></div>
                    <div class="col-md-6"><label class="labels">Prezime</label><input type="text" class="form-control" value="{{this?.currUser?.prezime}}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Naziv</label><input type="text" class="form-control" value="{{this?.currClient?.naziv}}"></div>
                    <div class="col-md-12"><label class="labels">Broj telefona</label><input type="text" class="form-control" value="{{this?.currClient?.telefon}}"></div>
                    <div class="col-md-12"><label class="labels">Adresa</label><input type="text" class="form-control" value="{{this?.currClient?.adresa}}"></div>
                    <div class="col-md-12"><label class="labels">Grad</label><input type="text" class="form-control" value="{{this?.currClient?.mjesto}}"></div>
                    <div class="col-md-12"><label class="labels">PDV broj</label><input type="text" class="form-control" value="{{this?.currClient?.pdvbroj}}"></div>
                    <!-- <div class="col-md-12"><label class="labels">ID broj</label><input type="text" class="form-control" value="{{this?.currClient?.idbroj}}"></div> -->
                    <div class="col-md-12"><label class="labels">Broj bankovnog računa</label><input type="text" class="form-control" value="{{this?.currClient?.brojBankovnogRacuna}}"></div>
                    <!-- <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div> -->
                </div>
                
            </div>
        </div>        
    </div>
