<div class="tableFrame">
  <div class="header">
      <div class="headerSpan">
          <span>Vrste</span>
      </div>
    </div>
    <div class="underHeader">
      <input placeholder="Pretraži" type="text" class="form-control" #pretraga (input)="filterPoNazivu(pretraga)">
      <button (click)="Add(content)" class="addInputs">Dodaj vrstu</button>
</div>
<!-- Add modal -->
<ng-template #content let-modal>
  <form #submitForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Dodavanje vrste</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleFormControlInput1">Naziv vrste</label>
        <input type="text" class="form-control" [(ngModel)]="vrsta.naziv" name="naziv">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Odustani</button>
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Snimi</button>
    </div>
  </form>
</ng-template>

<!--Update modal-->
<ng-template #content1 let-modal>
  <form #updateForm="ngForm" (ngSubmit)="updateVrsta()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ažuriranje podataka</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleFormControlInput1">Naziv vrste</label>
        <input type="text" class="form-control" [(ngModel)]="this._vrsteService.formData.naziv" name="naziv">
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Odustani</button>
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Snimi promjene</button>
    </div>
  </form>
</ng-template>

<!--Delete modal-->
<ng-template #content2 let-modal>
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-append">
            <h6>Da li ste sigurni da želite obrisati?</h6>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
    <button type="button" class="btn btn-outline-dark" (click)="DeleteVrsta()"
      routerLink="/adminpanel/vrste">Da</button>
  </div>
</ng-template>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Naziv vrste</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of vrste | slice: pageSize | slice: 0:itemsPerPage; let i = index">
      <td data-label="Naziv vrste">{{item.naziv}}</td>
      <td class="actions">
        <button (click)="Update(content1,item)">Uredi</button>
        <button (click)="Delete(content2,item)">Obriši</button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination id="pageing" [collectionSize]="vrste.length" [pageSize]="itemsPerPage" 
[(page)]="currentPage" [maxSize]="10" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
