<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>
<div class="Frame">
    <div class="header">
        <span>Korisnik</span>
    </div>
    <form novalidate autocomplete="off" action="" #form="ngForm" (submit)="onSubmit(form)">
        <div class="mainsection">
            <!--firs red-->
            <div class="form-group">
                <input type="hidden" name="kupacID" [value]="service.formData.korisnikId">
                <div class="form-row">
                    <div class="col">
                        <label>Ime</label>
                        <input type="text" class="form-control" name="ime" placeholder="Ime" #ime="ngModel" 
                        [(ngModel)]="service.formData.ime">
                    </div>
                    <div class="col">
                        <label>Prezime</label>
                        <input type="text" class="form-control" name="prezime" placeholder="Prezime" #Prezime="ngModel"
                        [(ngModel)]="service.formData.prezime" >
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="col">
                        <label>Korisnicko ime</label>
                        <input type="text" class="form-control" name="korisnickoIme" placeholder="Korisnicko ime" #korisnickoIme="ngModel" 
                        [(ngModel)]="service.formData.korisnickoIme" (input)="provjeri()" required>
                        <div *ngIf="isAvailable==false" class="alert-danger">Korisnicko ime je nedostupno</div>
                    </div>
                    <div class="col">
                        <label>Lozinka</label>
                        <input type="text" class="form-control" name="lozinka" placeholder="Lozinka" #lozinka="ngModel"
                        [(ngModel)]="service.formData.lozinka">
                    </div>
                </div>                
                <hr>
                <div class="form-row">
                    <div class="col">
                        <button type="button" class="btn btn-danger" routerLink="/adminpanel/users">Otkaži</button>
                        <button type="submit" class="btn btn-info" [disabled]="form.invalid" [disabled]="isAvailable==false" >Sačuvaj</button>
                    </div> 
                </div>
            </div>
        </div>
    </form>
</div>