<!--<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>-->
<div class="tableFrame">
  <div class="header">
      <div class="headerSpan">
          <span>Grupe</span>
      </div>
      <button (click)="Add(content)" class="addInputs">Dodaj grupu</button>
  </div>


<!-- Add modal -->
<ng-template #content let-modal>
  <form #submitForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Dodavanje grupe</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleFormControlInput1">Naziv</label>
        <input type="text" class="form-control" [(ngModel)]="grupa.naziv" name="naziv">
      </div>

      <div class="form-group" style="width: 50%;float: left;">
        <label for="exampleFormControlSelect2">Vrsta</label>
        <div class="dropdown">
          <!-- <button class="btn button-transparent dropdown-toggle"
            style="border:1px solid lightgray;outline: none; width: 90%;" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Odaberite vrstu
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" [(ngModel)]="grupa.vrstaId" name="vrstaId">
            <li><a class="dropdown-item" href="#" *ngFor="let item of vrste" value="item.id">{{item.naziv}}</a></li>
          </ul> -->
          <select name="vrstaId" class="form-control" #vrsta="ngModel" [(ngModel)]="grupa.vrstaId">
            <option value="0" [disabled]=true [selected]=true>Odaberite vrstu</option>
            <option *ngFor="let vrsta of vrste" [value]="vrsta.vrstaId">
              {{vrsta.naziv}} </option>
          </select>
        </div>
      </div>

      <div class="form-group" style="width: 50%;float: left;">
        <label for="exampleFormControlSelect2">Porez</label>
        <div class="dropdown">
          <!-- <button class="btn button-transparent dropdown-toggle"
            style="border:1px solid lightgray;outline: none; width: 90%;" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Odaberite porez
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="inputState" [(ngModel)]="grupa.porezId"
            name="porezId">
            <li><a class="dropdown-item" href="#" *ngFor="let item of porezi" value="item.id">{{item.nazivPoreza}}</a>
            </li>
          </ul> -->
          <select name="porezId" class="form-control" #porez="ngModel" [(ngModel)]="grupa.porezId">
            <option value="0" [disabled]=true [selected]=true>Odaberite porez</option>
            <option *ngFor="let porez of porezi" [value]="porez.porezId">
              {{porez.nazivPoreza}} </option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Odustani</button>
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Snimi</button>
    </div>
  </form>
</ng-template>

<!--Update modal-->
<ng-template #content1 let-modal>
  <form #updateForm="ngForm" (ngSubmit)="updateGroups()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ažuriranje podataka</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleFormControlInput1">Naziv</label>
        <input type="text" class="form-control" [(ngModel)]="this._groupService.formData.naziv" name="naziv">
      </div>

      <div class="form-group" style="width: 50%;float: left;">
        <label for="exampleFormControlSelect2">Vrsta</label>
        <div class="dropdown">
          <!-- <button class="btn button-transparent dropdown-toggle"
            style="border:1px solid lightgray;outline: none; width: 90%;" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Odaberite vrstu
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" [(ngModel)]="grupa.vrstaId" name="vrstaId">
            <li><a class="dropdown-item" href="#" *ngFor="let item of vrste" value="item.id">{{item.naziv}}</a></li>
          </ul> -->
          <select name="vrstaId" class="form-control" #vrsta="ngModel" [(ngModel)]="this._groupService.formData.vrstaId">
            <option value="0" [disabled]=true [selected]=true>Odaberite vrstu</option>
            <option *ngFor="let vrsta of vrste" [value]="vrsta.vrstaId">
              {{vrsta.naziv}} </option>
          </select>
        </div>
      </div>

      <div class="form-group" style="width: 50%;float: left;">
        <label for="exampleFormControlSelect2">Porez</label>
        <div class="dropdown">
          <!-- <button class="btn button-transparent dropdown-toggle"
            style="border:1px solid lightgray;outline: none; width: 90%;" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Odaberite porez
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="inputState" [(ngModel)]="grupa.porezId"
            name="porezId">
            <li><a class="dropdown-item" href="#" *ngFor="let item of porezi" value="item.id">{{item.nazivPoreza}}</a>
            </li>
          </ul> -->
          <select name="porezId" class="form-control" #porez="ngModel" [(ngModel)]="this._groupService.formData.porezId">
            <option value="0" [disabled]=true [selected]=true>Odaberite porez</option>
            <option *ngFor="let porez of porezi" [value]="porez.porezId">
              {{porez.nazivPoreza}} </option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Odustani</button>
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Snimi promjene</button>
    </div>
  </form>
</ng-template>

<!--Delete modal-->
<ng-template #content2 let-modal>
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-append">
            <h6>Da li ste sigurni da želite obrisati?</h6>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
    <button type="button" class="btn btn-outline-dark" (click)="DeleteGroup()"
      routerLink="/adminpanel/groups">Da</button>
  </div>
</ng-template>
<!--Tabela-->
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Redni broj</th>
      <th scope="col">Naziv grupe</th>
      <th scope="col">Vrsta</th>
      <th scope="col">Porez</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of grupe">
      <td data-label="No." scope="row">{{item.grupaId}}</td>
      <td data-label="Naziv grupe">{{item.naziv}}</td>
      <td data-label="Vrsta">{{item.vrstaNaziv}}</td>
      <td data-label="Porez">{{item.porezNaziv}}</td>
      <td class="actions">
        <button (click)="Update(content1,item)">Uredi</button>
        <button (click)="Delete(content2,item)">Obriši</button>
      </td>
    </tr>
  </tbody>
</table>

<!--  <ng-template #content let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Stavke računa</h4>
  </div>
  <div class="modal-body">
    <form>          
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Naziv grupe</th>
            <th scope="col"></th>
          </tr>
        </thead>
            <tbody >
                <tr *ngFor="let item of grupe">
                    <td data-label="No.">{{item.id}}</td>
                    <td data-label="Naziv grupe">{{item.naziv}}</td>
                    <td scope="col"></td>
                </tr>
            </tbody>
        </table>
    </form>
  </div>
</ng-template> -->