<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        
    <title>Document</title>
</head>
<body>
    <input type="checkbox"id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <a routerLink="/adminpanel/companyProfile">
                <span class="nav__logo-name">Faktura.ba</span>
            </a>
            <label for="sidebar-toggle"><i class='bx bxs-grid' ></i></label>
            
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a routerLink="/adminpanel/companyProfile" class="nav__link active">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">Profil</span>
                    </a>
                </li>
                <li>
                    <div class="nav__dropdown">
                        <a class="nav__link">
                            <i class='bx bx-data nav__icon' ></i>
                            <span class="nav__name">Podaci</span>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <a routerLink="/adminpanel/groups" class="nav__dropdown-item">Grupe</a>
                                <a routerLink="/adminpanel/items" class="nav__dropdown-item">Artikli</a>
                                <a routerLink="/adminpanel/customers" class="nav__dropdown-item">Kupci</a>
                                <a routerLink="/adminpanel/vrste" class="nav__dropdown-item">Vrste</a>
                                <a routerLink="/adminpanel/grad" class="nav__dropdown-item">Grad</a>
                                <a routerLink="/adminpanel/skladiste" class="nav__dropdown-item">Skladište</a>
                                <a routerLink="/adminpanel/porez" class="nav__dropdown-item">Porez</a>
                                <!-- <a routerLink="/adminpanel/clients" class="nav__dropdown-item">Klijenti</a> -->
                                <a *ngIf="currUser?.isAdmin==true" routerLink="/adminpanel/users" class="nav__dropdown-item">Korisnici</a>
                                <a routerLink="/adminpanel/manufacturers" class="nav__dropdown-item">Proizvođači</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nav__dropdown">
                        <a class="nav__link">
                            <i class='bx bx-library nav__icon' ></i>
                            <span class="nav__name">Dokumenti</span>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <a routerLink="/adminpanel/outputs" class="nav__dropdown-item">Izlazni računi</a>
                                <a routerLink="/adminpanel/inputs">Ulazni računi</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            
            <div class="social-icons">
                <p style="margin:10px 6px 6px 6px;">{{this?.currUser?.ime}}</p>
               <a routerLink="/adminpanel/companyProfile" ><img [src]="ImageM" alt=""></a> 
               <a (click)="odjavi()"><img src="../../assets/img/logout.png" alt="" style="cursor: pointer;"></a> 
            </div>
        </header>
        <main>
                <router-outlet></router-outlet>
           
            
        </main>
    </div>



    
</body>
</html>